<section>
    <h2>Search Ticker</h2>
    <form class="search-ticker">
        <div>
            <label for="ticker-symbol">Ticker Symbol</label>
            <input type="text" id="ticker-symbol" name="ticker-symbol" />
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    <p id="ticker-initial"></p>
    <p id="ticker-name"></p>
    <p id="ticker-description"></p>
    <p id="open-price"></p>
    <p id="close-price"></p>
</section>

<section>
    <h2>Share Market News</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <div>
            <label for="ticker">Ticker Symbol</label>
            <input type="text" id="ticker" name="ticker" />
        </div>
        <div>
            <label for="post-content">Summary</label>
            <input type="text" id="post-content" name="post-content" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/ticker.js"></script>
<script src="/javascript/add-post.js"></script>